#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}
/* Light Theme (Default) */
:root {
  --bg-color: #d3d3d3;
  --text-color: #000000;
  --navbar-bg-color: #343a40;
  --navbar-text-color: #ffffff;
  --header-bg-color: #343a40;
  --header-text-color: #ffffff;
  --footer-bg-color: #343a40;
  --footer-text-color: #ffffff;
  --card-bg-color: #dadada;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --border-color: #e7e7e7;
  --button-bg-color: #5a5c5d;
  --button-hover-bg-color: #b5b9be;
  --dropdown-bg-color: #ffffff;
  --dropdown-item-color: #333;
  --dropdown-item-hover-color: #f5f5f5;
  --dropdown-item-hover-text-color: #9ea0a2;
  --dropdown-button-bg-color: rgb(124, 123, 123);
  --dropdown-button-hover-bg-color: rgb(186, 183, 183);
  --dropdown-active-bg-color: #343a3f;
  --dropdown-active-text-color: #ffffff;
  --background-image: url("../public/background.webp");
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #343a3f;
  --text-color: #ffffff;
  --navbar-bg-color: #1f1f1f;
  --navbar-text-color: #ffffff;
  --header-bg-color: #1f1f1f;
  --header-text-color: #ffffff;
  --footer-bg-color: #1f1f1f;
  --footer-text-color: #ffffff;
  --card-bg-color: #2a2a2a;
  --link-color: #61dafb;
  --link-hover-color: #21a1f1;
  --border-color: #2a2a2a;
  --button-bg-color: #646464;
  --button-hover-bg-color: #888888;
  --dropdown-bg-color: #2a2a2a;
  --dropdown-item-color: #ffffff;
  --dropdown-item-hover-color: #444444;
  --dropdown-item-hover-text-color: #ffffff;
  --dropdown-button-bg-color: #646464;
  --dropdown-button-hover-bg-color: #888888;
  --dropdown-active-bg-color: #1f1f1f;
  --dropdown-active-text-color: #ffffff;
  --background-image: url("../public/background.webp");
}

/* Apply the theme variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

/* Navbar */
.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-bg-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: var(--navbar-text-color);
  text-transform: uppercase;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-item {
  margin: 0;
}

.nav-link {
  color: var(--navbar-text-color);
  font-size: 16px;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--dropdown-item-hover-color);
  color: var(--dropdown-item-hover-text-color);
}

.nav-link.active {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: var(--dropdown-button-bg-color);
  color: var(--navbar-text-color);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-button:hover {
  background-color: var(--dropdown-button-hover-bg-color);
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dropdown-bg-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 110px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 12px 20px;
  color: var(--dropdown-item-color);
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: var(--dropdown-item-hover-color);
  color: var(--dropdown-item-hover-text-color);
  border-radius: 5px;
}

.dropdown-item.active {
  background-color: var(--dropdown-active-bg-color);
  color: var(--dropdown-active-text-color);
}

.dark-mode-toggle {
  background-color: transparent;
  border-radius: 20px;
}

/* Header */
.header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 20px 0;
  text-align: center;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid var(--border-color);
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 16px;
}

.footer p a {
  color: var(--footer-text-color);
}

.footer p a:hover {
  color: var(--link-hover-color);
}

/* AboutMe */
.aboutMe {
  background-color: var(--card-bg-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.aboutMe h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.aboutMe img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.aboutMe p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 20px;
}

.aboutMe p:first-of-type {
  font-weight: bold;
  color: var(--text-color);
}

/* Projects */
.project {
  background-color: var(--card-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  margin: 20px auto;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.project p a {
  color: var(--link-color);
}

.project p a:hover {
  color: var(--link-hover-color);
}

/* Contact */
.contact {
  background-color: var(--card-bg-color);
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact label {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  border-color: var(--link-color);
  outline: none;
}

.contact textarea {
  height: 150px;
  resize: vertical;
}

.contact button {
  background-color: var(--button-bg-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Portfolio */
.portfolio {
  background-color: var(--bg-color);
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.portfolio h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--text-color);
}

.portfolio .project {
  margin-bottom: 30px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Resume */
.resume {
  background-color: var(--card-bg-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.resume h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--text-color);
}

.resume p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 20px;
}

.resume a {
  color: var(--link-color);
}

.resume a:hover {
  color: var(--link-hover-color);
}

.resume h3 {
  font-size: 24px;
  color: var(--text-color);
  margin-top: 30px;
  margin-bottom: 15px;
}

.resume ul {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0px;
}

.resume ul li {
  font-size: 16px;
  color: var(--text-color);
  display: inline;
  margin: 10px;
}

.resume ul li strong {
  font-weight: bold;
  color: var(--text-color);
}